/* Global CSS Start */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none;
    color: #FF0000;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}
p {
    line-height: 1.6em;
    font-size: 18px;
}
a.xs-btn {
    border: 1px solid #ff0000;
    display: inline-block;
    width: 125px;
    text-align: center;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    background: #ff0000;
    transition: .3s;
}
a.xs-btn:hover {
    background: transparent !important;
}
/* Global CSS END */
.container {
    max-width: 1320px;
    margin: auto;
    width: 90%;
    position: relative;
}
/* Section one: Hero Section CSS */
#hero-section {
    margin-top: 50px;
}
#hero-section .container {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("../images/hero-bg.jpg");
} 
#hero-section .container:before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.xs-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
    z-index: 99;
    color: #fff;
    position: relative;
}
.xs-hero-content h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.xs-hero-content h1 {
    font-size: 72px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    line-height: 1.1;
}
/* Section two: Offer section */
#offer-section {
    margin-top: 60px;
}
.xs-offer-content {
    text-align: center;
}
.xs-offer-content p.offer-text {
    font-size: 62px;
    font-weight: bold;
    color: #ff0000;
}
.offer-sub-text {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff0000;
    margin-top: 15px;
    margin-bottom: 10px;
}
.offer-categories {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}
.xs-offer-content img {
    max-width: 800px;
    width: 100%;
}
/* Welcome Text Section CSS */
#welcome-text-section {
    margin-top: 60px;
}
#welcome-text-section .container {
    position: relative;
    background-image: url("../images/sec-3bg.jpg");
    overflow: hidden;
    border-radius: 20px;
}
#welcome-text-section .container:before {
    border-radius: 20px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);    ;
}
.xs-welcome-content {
    z-index: 99;
    position: relative;
    padding: 60px;
    overflow: hidden;
    display: flex;
}
.xs-welcome-content .xs-wl {
    width: 70%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.xs-welcome-content .xs-wr {
    width: 30%;
    float: left;
    text-align: right;
}
.xs-welcome-content h2 {
    font-size: 62px;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 20px;
}
.xs-welcome-content h2 span {
    font-family: 'Merriweather', serif;
    display: block;
}
.xs-welcome-content p {
    color: #fff;
    margin-bottom: 20px;
    max-width: 630px;
}
/* Event Section CSS */
#event-details {
    margin-top: 60px;
}
#event-details .container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 20px;
    padding: 100px 0;
}
#event-details .xs-event-details-content {
    text-align: center;
}
.xs-event-details-content p {
    font-size: 28px;
}
.xs-event-details-content p span {
    color: #ff0000;
    font-weight: bold;
}
.xs-event-details-content a {
    margin-top: 30px;
}
/* Offer Coming Soon Section CSS */
#coming-soon-offer {
    margin-top: 60px;
}
.xs-offer-coming-content {
    display: flex;
    overflow: hidden;
}
.xs-offer-coming-content .xs-o-col:nth-child(1),
.xs-offer-coming-content .xs-o-col:nth-child(3) {
    width: 30%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.xs-offer-coming-content .xs-o-col:nth-child(2) {
    width: 40%;
    float: left;
    text-align: center;
}
.xs-offer-coming-content .xs-o-col:nth-child(3) img {
    width: 140px;
}
.xs-offer-coming-content .xs-o-col:nth-child(2) img {
    border-radius: 50%;
    border: 15px solid #ff0000;
    padding: 20px;
}
.xs-offer-coming-content .xs-o-col:nth-child(1) span {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.xs-offer-coming-content .xs-o-col:nth-child(1) h3 {
    color: #000;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
}
.xs-offer-coming-content .xs-o-col:nth-child(3) p.title-year {
    font-size: 36px;
    line-height: 1.1;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 10px;
}
.title-ysubtext {
    margin-bottom: 10px;
}
/* Holiday Sale Section CSS */
#holiday-sales {
    margin-top: 100px;
}
.xs-holiday-sales {
    text-align: center;
}
.xs-holiday-sales p.holi-sub-text {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
}
.xs-holiday-sales h2 {
    font-size: 62px;
    list-style: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
}
.xs-holiday-sales h2 span {
    font-family: 'Merriweather', serif;
    color: #ff0000;
}
.xs-holiday-sales p.holi-sale-des {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.xs-holiday-sales img {
    width: 100%;
}
/* Portfolio Section CSS */
#portfolio-boxs {
    margin-top: 100px;
}
.portfolio-content span {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.portfolio-content h3 {
    color: #000;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
}
.portfolio-content p {
    max-width: 750px;
}
.portfolio-image-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.portfolio-image-content {
    margin-top: 30px;
}
.portfolio-image-content .port-image {
    transition: .3s;
    transform: scale(1);
    overflow: hidden;
    border-radius: 10px;
}
.portfolio-image-content .port-image img {
    width: 100%;
    transition: .3s;
    height: 100%;
}
.portfolio-image-content .port-image:hover img {
    transform: scale(1.3);
}
/* Newsletter Subscribe Section CSS */
#subscribe-newsletter {
    margin-top: 100px;
}
#subscribe-newsletter .container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.xs-newsletter-content {
    padding: 40px 60px;
    text-align: center;
    padding-bottom: 60px !important;
}
.xs-newsletter-content span svg {
    max-width: 120px;
}
.xs-newsletter-content h3 {
    color: #000;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: bold;
}
.xs-newsletter-content p {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.xs-subs-form {
    position: relative;
    margin-top: 30px !important;
    width: 100%;
    max-width: 580px;
    margin: auto;
    overflow: hidden;
}
.xs-subs-form input[type=email] {
    padding: 0 30px;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
    height: 60px;
    position: relative;
}
.xs-subs-form input[type=submit] {
    background-color: #ff0000;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
    padding: 0 30px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    max-width: 180px;
    position: absolute;
    right: 0;
    height: 60px;
    cursor: pointer;
    top: 0;
}
/* Footer Section CSS */
#footer {
    margin-top: 100px;
    background: #070211;
}
#footer .container {
    padding-top: 80px;
}
.xs-fdiv {
    color: #fff;
}
.xs-fdiv:first-child p {
    color: #fff;
    max-width: 280px;
    font-size: 16px;
}
.xs-footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.xs-fdiv ul {
    padding: 0 !important;
    list-style: none;
    text-align: right;
}
.xs-fdiv ul li a {
    color: #fff;
    transition: .3s;
}
.xs-fdiv ul li:first-child {
    position: relative;
    left: -14px;
    margin-bottom: 5px;
}
.xs-fdiv ul li a:hover {
    color: #ff0000;
}
.xs-fdiv ul li a svg {
    position: relative;
    top: 8px;
    margin-right: 10px;
}
.xs-footer-top {
    padding-bottom: 35px;
    border-bottom: 1px solid #eeeeee29;
}
.xs-footer-social {
    padding: 20px 0;
    border-bottom: 1px solid #eeeeee29;
}
.xs-footer-social svg {
    width: 50px;
}
.xs-footer-social ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.xs-footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}
.xs-footer-social ul li:last-child {
    margin-right: 0 !important;
}
.xs-footer-copyright {
    padding: 25px 0;
}
.xs-footer-copyright .xs-fcdiv,
.xs-footer-copyright .xs-fcdiv p,
.xs-footer-copyright .xs-fcdiv a {
    font-size: 14px;
    color: #fff;
}
.xs-footer-copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.xs-footer-copyright .xs-fcdiv:last-child {
    text-align: right;
}